.main {
  &__body {
  }

  &__title {
  }

  &__text {
  }

  &__list {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__item {
    position: relative;
    padding-left: 12px;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: #5c6168;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      display: block;
    }
  }
  &__year {
    margin-bottom: 6px;
  }
  &__article {
    margin-bottom: 16px;
  }
}
.position,
.country,
.year {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.article {
  margin-top: 16px;
}
.title {
}
.text {
}
.company {
  display: flex;
  justify-content: space-between;
}
.position {
  font-weight: 600;
  margin-bottom: 6px;
}
.next-aside {
  &__title {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
  }
  &__list {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  &__icons {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    flex: 1 0 auto;
  }
  &__icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover,
    &:focus {
      background-color: rgba(92, 97, 104, 0.2);
    }
    & svg {
      width: 20px;
      height: 20px;
    }
  }
}
