.main {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 40px 24px;
  }

  &__header {
  }
}
.header-main {
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: space-between;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    max-width: 116px;
    height: 116px;
    overflow: hidden;
    position: relative;
    
    img {
      @include img;
     
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__item {
    display: flex;
    gap: 14px;
  }
  &__link {
    color: #5c6168;
    transition: color 0.3s ease;
    &:hover,
    &:focus,
    &:active {
      color: red;
    }
  }
  &__icon {
    & svg {
      width: 10px;
      height: 10px;
    }
  }
}
