@import "./config/fonts";
@import "./config/variables";
@import "./config/functions";
@import "./config/mixins";
@import "./config/reset";
@import "./aside-header";
@import "./aside-body";
@import "./main-header";
@import "./main-body";

.page {
  flex: 1 1 auto;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  position: relative;
  // width: 100%;

  &__aside {
    background-color: #e8eaee;
  }

  &__main {
    background-color: #fff;
  }
  &__arrow {
    position: absolute;
    top: 30%;
    right: -10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
    & svg {
      width: 30px;
      height: 30px;
      align-items: center;
      transition: all 0.3s ease;
      path {
        fill: rgba(0, 0, 0, 0.2);
      }
      &:hover,
      &:focus,
      &:active {
        path {
          fill: rgba(255, 255, 255, 0.2);
        }
      }

    }
    @media (max-width: 767px) {
      position: absolute;
      top: 17%;
      left: 85%;
    }
  }
}
.arrow {
  position: absolute;
  top: 30%;
  left: -10%;
  @media (max-width: 767px) {
    position: absolute;
    top: 5%;
    left: 85%;
  }
}
